.ratings-form {
  order: 2;
  color: #585858;
  /*margin: auto;*/
  max-width: calc(70% - 50px);
  width: 70%;
  align-self: baseline;
  text-align: left;
  /*display: inline-block;*/
  display: flex;
  flex-flow: column wrap;
  }

.ratings-form-main {
  padding: 0 0 10px 10px; 
  }

.ratings-form-questions {
  list-style-type: none;
  }

.ratings-form-questions li:hover {
  text-decoration: none;
  color: #8bc34a;
  }

.ratings-form-form {
  padding: 10px 0 10px 10px;
  }

.ratings-form-submit-button {
  padding: 0 0 0 10px;
  }
