.ratings-form {
  margin: 70px 0;
  }

.ratings-form-main {
  padding: 0 0 10px 10px; 
  margin-bottom: 30px;
  }

  /*TODO fix margins in dropdowns*/
.ui.search.selection.dropdown.ratings-agency-dropdown {
  margin-bottom: 70px;
  }

.ui.selection.active.dropdown {
  border-color: lightgreen !important;
}
.ui.selection.active.dropdown:hover {
  border-color: lightgreen !important;
}

.ui.selection.active.dropdown .menu {
  border-color: lightgreen !important;
}

.ui.search.dropdown .menu {
  max-height: 12rem !important;
}

button.ui.green.ratings-form-submit-button {
  margin: 0 0 20px 0;
}

.ratings-form-add-button-message {
  margin: 75px 0 30px 0;
}

.Ratings-list-stars {
  padding-left: 10px;
  padding-top: 5px;
}

.Ratings-list-stars-form {
  padding-left: 10px;
  padding-top: 5px;
}

.button.ui.ratings-form-add-agency-button {
  margin: 0 0 40px 10px;
} 

.add-agency-modal-description {
  font-size: 16px;
  margin-bottom: 20px;
}
