.ratings-form {
  /*margin: auto;*/
  /*display: inline-block;*/
  }

.ratings-form-main {
  padding: 0 0 10px 10px; 
  margin-bottom: 30px;
  }

.ui.search.selection.dropdown {
  margin-bottom: 50px;
  }

.ui.selection.active.dropdown {
  border-color: lightgreen !important;
}
.ui.selection.active.dropdown:hover {
  border-color: lightgreen !important;
}

.ui.selection.active.dropdown .menu {
  border-color: lightgreen !important;
}

button.ui.green.ratings-form-submit-button {
  margin: 0 0 20px 0;
}


