.ratings-form {
  order: 2;
  /*margin: auto;*/
  max-width: calc(70% - 50px);
  width: 70%;
  align-self: baseline;
  /*display: inline-block;*/
  display: flex;
  flex-flow: column wrap;
  }

.ratings-form-main {
  padding: 0 0 10px 10px; 
  }

.ratings-form-questions {
  list-style-type: none;
  font-size: 16px;
  padding: 5px;
  }

.ratings-form-questions li:hover {
  text-decoration: none;
  color: green;
  }

.ratings-form-form {
  padding: 10px 0 10px 10px;
  }

.ratings-form-submit-button {
  padding: 0 0 0 10px;
  }

.ratings-form-stars-list {
  padding: 8px 0;
}
