.ratings-form {
  /*margin: auto;*/
  /*display: inline-block;*/
  }

.ratings-form-main {
  padding: 0 0 10px 10px; 
  margin-bottom: 30px;
  }

.ui.search.selection.dropdown {
  margin-bottom: 70px;
  }

.ui.selection.active.dropdown {
  border-color: lightgreen !important;
}
.ui.selection.active.dropdown:hover {
  border-color: lightgreen !important;
}

.ui.selection.active.dropdown .menu {
  border-color: lightgreen !important;
}

.ui.search.dropdown .menu {
  max-height: 12rem !important;
}

button.ui.green.ratings-form-submit-button {
  margin: 0 0 20px 0;
}

.ratings-form-add-button-message {
  margin: 40px 0 10px 0;
}

button.ui.green.ratings-form-add-button {
  margin: 0 0 40px 0;
}


