:focus {
  outline-color: green;
}

h1 {
    margin: 15px 0 0 0;
  }
  
  h2 {
    font-size: 16px;
    color: green;
    margin: 10px 0 0 0;
  }
  
  .App-about {
    text-align: center;
    font-size: 1em;
    margin: 30px 20px 40px 20px;
    padding: 30px 0 40px 0;
  }
  
  .App-about-info {
    margin: 0 0 0 10px;
  }

  .App-about-icons {
    margin-bottom: 20px;
  }

  .App-about-column-text {
    margin-top: 20px;
  }

/*Ratings Results section */
  .Ratings {
    margin: 20px 0;
    height: 200px; /*TODO code out top 5/worse 5 section and decide height */
    border-bottom: 1px solid green;
  }
  
  .Ratings-results {
    text-align: left;
    /*margin: auto;*/
    margin: 0 10px 0 0;
    overflow-y: auto;
  }
  
  li:focus {
    text-decoration: none;
    outline: 1px solid green;
    }
  
  h3 {
    font-size: 1em;
    color: green;
    padding: 10px 0 20px 0;
  }
  
  .Search-box {
    padding-top: 7px;
    margin: 0 5px 15px 10px;
  }
  
  input:focus {
    outline: 1px solid green;
  }
  
  .Ratings-agencies-list {
    list-style-type: none;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 0.85em;
  }
  
  .Ratings-agencies-list li:hover {
    color: green;
  }
  
  .Ratings-list-names {
    padding-bottom: 1px;
  }
  
  .Ratings-list-stars {
    padding-left: 10px;
    padding-top: 5px;
  }
  
  .Ratings-list-stars-form {
    padding-left: 10px;
    padding-top: 5px;
  }
  
  
  
  
  
  /* TODO not used yet...
  .Error-alert {
  
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @media queries...
  
  */
  