:focus {
  outline-color: green;
}



/* TODO not used yet...
.Error-alert {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Media queries...*/




