.App-logo {
    border-radius: 15px;
    height: 100px;
    justify-items: center;
  }

  /*
.App-title {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 5em;
}

.App-subtitle {
  font-size: 1.25em;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 2em;
}
*/

/*Media queries
@media 
TITLE
fontSize: mobile ? '1.75em' : '2.5em'
marginTop: mobile ? '1.5em' : '5em',

SUBTITLE
fontSize: mobile ? '0.75em' : '1.25em',
          fontWeight: 'normal',
          marginTop: mobile ? '0.5em' : '1.5em',
          marginBottom: mobile ? '1em' : '2em'


*/