.App-logo {
    border-radius: 15px;
    height: 100px;
    justify-items: center;
  }





/*Media queries
@media 
TITLE
fontSize: mobile ? '1.75em' : '2.5em'
marginTop: mobile ? '1.5em' : '5em',

SUBTITLE
fontSize: mobile ? '0.75em' : '1.25em',
          fontWeight: 'normal',
          marginTop: mobile ? '0.5em' : '1.5em',
          marginBottom: mobile ? '1em' : '2em'
h1.ui.header

*/