* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
}

/*
.flexItem {
    flex: 1;
}
*/

.App-logo {
  display: inline;
  border-radius: 15px;
  align-self: flex-start;
  margin: 10px 0 0 10px;
}

a {
  color: #8bc34a;
  text-decoration: none;
}

a:hover, a:focus {
  color: white;
  text-decoration: none;
  }

.App-header {
  background-color: #222;
  height: 125px;
  width: 100%;
  padding: 15px;
  color: white;
  position: relative;
  text-align: left;
  align-self: flex-start;
}

.App-title {
  text-align: left;
  display: inline;
}

h1 {
  font-size: 1.5em;
  margin: 15px 0 0 0;
}

h2 {
  font-size: 1em;
  color: #8bc34a;
  margin: 10px 0 0 0;
}

.Sign-in-button {
  border: 1px solid;
  border-radius: 10px;
  float: left;
}

.App-intro {
  text-align: left;
  color: white;
  font-size: 0.90em;
  margin: 10px 0 30px 20px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #8bc34a;
}

main {
  height: 100%;
}

.Ratings {
  margin: 0 0 0 20px;
  flex-flow: row nowrap;
  height: 1000px;
  border-bottom: 1px solid #8bc34a;
}

.Ratings-results {
  order: 1;
  text-align: left;
  color: white;
  /*margin: auto;*/
  margin: 0 10px 0 0;
  max-width: calc(30% - 50px);
  width: 30%;
  overflow-y: auto;
}

h3 {
  font-size: 1em;
  color: #8bc34a;
  padding: 0 0 20px 0;
}

.Search-box {
  padding-top: 7px;
  margin: 0 0 15px 5px;
}

.Ratings-agencies-list {
  list-style-type: none;
  padding-bottom: 10px;
  margin-left: 5px;
  font-size: 0.85em;
}

.Ratings-agencies-list li:hover {
  color: #8bc34a;
}

.Ratings-list-names {
  padding-bottom: 1px;
}

.Ratings-list-stars {
  padding-left: 10px;
  padding-top: 5px;
}

.Ratings-list-stars-form {
  padding-left: 10px;
  padding-top: 5px;
}

.Ratings-form {
  order: 2;
  color: white;
  /*margin: auto;*/
  max-width: calc(70% - 50px);
  width: 70%;
  align-self: baseline;
  text-align: left;
  /*display: inline-block;*/
  display: flex;
  flex-flow: column wrap;
}

.Form {
  padding: 0 0 0 10px;
}

.Form-main {
  padding: 10px 0 10px 0;
}

.Submit-button {
  padding: 0 0 0 10px;

}

#footer {
  display: block;
  position: relative;
  bottom: 0;
  height: 55px;
  width: 100%;
  color: white;
  background: #222;
  font-size: 8pt;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.Footer-text {
  padding: 5px 5px 5px 5px;;
  color: white;
}


/* TODO not used yet...
.Error-alert {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media queries...

*/
