.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
}

.App-logo {
  display: inline;
  border-radius: 15px;
}

a {
  color: lightgreen;
  text-decoration: none;
}

a:hover, a:focus {
  color: white;
  text-decoration: none;
  }

.App-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
  display: inline;
  position: relative;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  font-size: 1em;
  color: lightgreen;
}

.App-intro {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 0.75em;
  margin-bottom: 20px;
}

.Ratings {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.Ratings-results {
  text-align: justify;
  font-family: sans-serif;
  color: white;
  font-size: 0.65em;
  margin: auto;
  align-self: center;
  max-width: calc(50% - 50px);

}

.Ratings-form {
  text-align: justify;
  font-family: sans-serif;
  color: white;
  font-size: 0.65em;
  margin: auto;
  align-self: center;
  max-width: calc(50% - 50px);
}

h3 {
  color: lightgreen;
}

#footer {
  display: block;
  position: relative;
  bottom: 0;
  height: 65px;
  width: 100%;
  color: white;
  background: #222;
  font-size: 8pt;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.Footer-text {
  padding-top: 15px;
}


/* TODO not used yet...
.Error-alert {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



*/
